
.container {
  width: 80%;
  margin: 0 auto;
}

header{
  background : #b6eaff;
}

header::after{
  content: '';
  display: table;
  clear: both;
}



.logo{
  float: left;
}
#title{
  float: left;
}

nav {
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 10px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase; 
  
}
nav a:hover{
  color: #000;
  font-style: oblique;
}

nav a::before{
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: #444;

  position: absolute;
  top: 0;

  transition: all ease-in-out 250ms;
}
nav a:hover::before{
  width: 100%;
}

#body{
  background-color: #444;

}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.carousel-container{
  width: 80%;
  margin: auto;
  border: 4px solid black;
  overflow: hidden;
  position: relative;
}

.carousel-slide{
  display: flex;
  width: 80%;
  height: 400px;
}

#prevBtn{
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 60px;
  color: white;
  cursor: pointer;
}

#nextBtn{
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 60px;
  color: white;
  cursor: pointer;
}

#image{
  height: 400px;
  width: 400px;
  position: relative;

}

#exploreC{
  position: absolute;
  color: white;
  font-size: 80px;
  font-weight: bold;
  left: 700;
}

#exploreG{
  z-index: 100;
  position: absolute;
  color: whitesmoke;
  font-size: 80px;
  font-weight: bold;
  left: 300px;
  top: 620px;
}


